.bgColor {
    background-color: rgb(196, 205, 212);
}

.smallImage {
    width: 4%;
    height: 4%;
}

.leftBasket {
    float: right;
    width: 5%;
    height: 5%;
}

.Links {
    margin: 3px;
    text-decoration: none;
    color: black;
}